---
http_interactions:
- request:
    method: get
    uri: https://portal-uat.globalreach-partners.com/FXPlugin.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://tempuri.org/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://tempuri.org/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://tempuri.org/\">\r\n
        \     <s:element name=\"GetRateMatrix\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ClientCode\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Username\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"Password\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"GroupID\" type=\"s:int\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\[...]
- request:
    method: post
    uri: https://portal-uat.globalreach-partners.com/FXPlugin.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><GetRateMatrix
        xmlns="http://tempuri.org/"><ErrorMsg></ErrorMsg><ClientCode><GRP_CLIENT_CODE></ClientCode><Username><GRP_USERNAME></Username><Password><GRP_PASSWORD></Password><GroupID>1</GroupID></GetRateMatrix></soap:Body></soap:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/GetRateMatrix"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetRateMatrixResponse
        xmlns=\"http://tempuri.org/\"><GetRateMatrixResult>&lt;DocumentElement&gt;\r\n
        \ &lt;FXRateMatrix&gt;\r\n    &lt;GUID&gt;{0144B275-C837-4458-BF04-528DF1C14C07}&lt;/GUID&gt;\r\n
        \   &lt;FileName&gt;<GRP_CLIENT_CODE>_0002028_20170913150743733&lt;/FileName&gt;\r\n
        \   &lt;TimeCreated&gt;2017-09-13T15:08:00+01:00&lt;/TimeCreated&gt;\r\n    &lt;ClientCode&gt;<GRP_CLIENT_CODE>&lt;/ClientCode&gt;\r\n
        \   &lt;SellCcy&gt;BDT&lt;/SellCcy&gt;\r\n    &lt;BuyCcy&gt;AED&lt;/BuyCcy&gt;\r\n
        \   &lt;CcyPair&gt;AEDBDT&lt;/C[...]
- request:
    method: post
    uri: https://portal-uat.globalreach-partners.com/FXPlugin.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><SetAck
        xmlns="http://tempuri.org/"><ErrorMsg></ErrorMsg><Guid>{0144B275-C837-4458-BF04-528DF1C14C07}</Guid><ClientCode><GRP_CLIENT_CODE></ClientCode><Username><GRP_USERNAME></Username><Password><GRP_PASSWORD></Password><GroupID>1</GroupID></SetAck></soap:Body></soap:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/SetAck"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SetAckResponse
        xmlns="http://tempuri.org/"><ErrorMsg /></SetAckResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 13 Sep 2017 14:07:51 GMT
- request:
    method: post
    uri: https://portal-uat.globalreach-partners.com/FXPlugin.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><DoFXTrades
        xmlns="http://tempuri.org/"><TradeType>Single</TradeType><objTradeParam><clsBuySellCurrency><TradeType>Single</TradeType><SettlementDate>13/09/2017</SettlementDate><IsDirectDebit>false</IsDirectDebit><BuyingOrSelling>Buy</BuyingOrSelling><BuyCurrency>EUR</BuyCurrency><SellCurrency>USD</SellCurrency><Amount>1234.5</Amount><Paymentcategory>BPEN</Paymentcategory><FXRateMatrixGuid>{0144B275-C837-4458-BF04-528DF1C14C07}</FXRateMatrixGuid><TradeRef>whatever</TradeRef></clsBuySellCurrency></objTradeParam><ClientCode><GRP_CLIENT_CODE></ClientCode><Username><GRP_USERNAME></Username><Password><GRP_PASSWORD></Password><GroupID>1</GroupID></DoFXTrades></soap:Body></soap:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/DoFXTrades"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><DoFXTradesResponse
        xmlns=\"http://tempuri.org/\"><DoFXTradesResult><TradeID>-1</TradeID><ErrorCode
        /><ErrorMessage /><SuccessMessage>&lt;Status&gt;\r\n&lt;DealNo&gt;546117&lt;/DealNo&gt;\r\n&lt;SettelementDate&gt;14-09-2017&lt;/SettelementDate&gt;\r\n&lt;BuyCurrency&gt;EUR&lt;/BuyCurrency&gt;\r\n&lt;BuyAmount&gt;1234.5&lt;/BuyAmount&gt;\r\n&lt;SellCurrency&gt;USD&lt;/SellCurrency&gt;\r\n&lt;SellAmount&gt;1,483.75&lt;/SellAmount&gt;\r\n&lt;ExchangeRate&gt;1.2019&lt;/ExchangeRate&gt;\r\n&lt;TradeDirection&gt;Buy&lt;/TradeDirection&gt;\r\n&lt;TradeRef&gt;whatever&lt;/TradeRef&gt;\r\n&lt;/Status&gt;\r\n\r\n</SuccessMessage><OutPutDataTable><xs:schema
        id=\"NewDataSet\" xmlns=\"\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:msdata=\"urn:schemas-microsoft-com:xml-msdata\"><xs:element name=\"NewDataSet\"
        msdata:IsDataSet=\"true\" msdata:MainDataTable=\"OutPutTable\" msdata:UseCurrentLocale=\"true\"><xs:complexType><xs:choice
        minOccurs=\"0\" maxOccurs=\"unbounded\"><xs:element name=\"OutPutTable\"><xs:complexType><xs:sequence><xs:element
        name=\"Valid\" type=\"xs:boolean\" minOccurs=\"0\" /><xs:element name=\"mintID\"
        type=\"xs:string\" minOccurs=\"0\" /><xs:element name=\"minttodayDate\" type=\"xs:string\"
        minOccurs=\"0\" /><xs:element name=\"mintTradeType\" type=\"xs:string\" minOccurs=\"0\"
        /><xs:element name=\"MintTradeTypeValue\" type=\"xs:string\" minOccurs=\"0\"
        /><xs:element name=\"mintSettelmentDate\" type=\"xs:string\" minOccurs=\"0\"
        /><xs:element name=\"mintS[...]
