---
http_interactions:
- request:
    method: get
    uri: https://portal-uat.globalreach-partners.com/TradeService.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Retry-After:
      - '2008'
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://tempuri.org/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://tempuri.org/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://tempuri.org/\">\r\n
        \     <s:element name=\"DoSingleTrade\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ClientLogin\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"UserName\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"Password\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"GroupID\" type=\"s:int\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"objSingleTrade\" type=\"tns:clsTradeMain\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"TradeType\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"singletradeormultipletrade\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"ErrorMsg\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"dtOutput\">\r\n
        \             <s:complexType>\r\n                <s:sequence>\r\n                  <s:any
        minOccurs=\"0\" maxOccurs=\"unbounded\" namespace=\"http://www.w3.org/2001/XMLSchema\"
        processContents=\"lax\" />\r\n                  <s:any minOccurs=\"1\" namespace=\"urn:schemas-microsoft-com:xml-diffgram-v1\"
        processContents=\"lax\" />\r\n                </s:sequence>\r\n              </s:complexType>\r\n
        \           </s:element>\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:complexType name=\"clsTradeMain\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"BenName\" type=\"s:string\"
        />\r\n          <s:eleme[...]
- request:
    method: post
    uri: https://portal-uat.globalreach-partners.com/TradeService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><DoSingleTrade
        xmlns="http://tempuri.org/"><TradeType>booktrade</TradeType><Singletradeormultipletrade>single</Singletradeormultipletrade><DtOutput></DtOutput><objSingleTrade><BenName>Test1</BenName><PayeeAcIBAN>BE00000000000000</PayeeAcIBAN><PaymentCurr>EUR</PaymentCurr><PaymentAmount>12.0</PaymentAmount><PaymentType>Express</PaymentType><PaymentNotes>Test
        API Payment</PaymentNotes><BankName>KBC Bank NV</BankName><BankAddress1>Address
        1</BankAddress1><BankAddress2>Address 2</BankAddress2><BankCountry>Belgium</BankCountry><BankSwiftCode>KREXXXXB</BankSwiftCode><BankSortCode></BankSortCode><ValueDate>2017-05-24</ValueDate><TempValueDate>2017-05-24</TempValueDate><SellCurrency>USD</SellCurrency><OPICategories>PEN</OPICategories><BeneficiaryAdd1>add1</BeneficiaryAdd1><BeneficiaryAdd2>add2</BeneficiaryAdd2><BeneficiaryAdd3>add3</BeneficiaryAdd3></objSingleTrade><ClientLogin><GRP_CLIENT_CODE></ClientLogin><UserName><GRP_USERNAME></UserName><Password><GRP_PASSWORD></Password><GroupID>1</GroupID></DoSingleTrade></soap:Body></soap:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/DoSingleTrade"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Retry-After:
      - '2007'
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><DoSingleTradeResponse
        xmlns="http://tempuri.org/"><ErrorMsg>For FillDataRowFor TrimDataTableFor
        AddValidColumns</ErrorMsg></DoSingleTradeResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 24 May 2017 12:24:37 GMT
recorded_with: VCR 3.0.3
