---
http_interactions:
- request:
    method: get
    uri: https://portal-uat.globalreach-partners.com/FXPlugin.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://tempuri.org/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://tempuri.org/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://tempuri.org/\">\r\n
        \     <s:element name=\"GetRateMatrix\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ClientCode\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Username\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"Password\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"GroupID\" type=\"s:int\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\[...]
- request:
    method: post
    uri: https://portal-uat.globalreach-partners.com/FXPlugin.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><GetRateMatrix
        xmlns="http://tempuri.org/"><ErrorMsg></ErrorMsg><ClientCode><GRP_CLIENT_CODE></ClientCode><Username><GRP_USERNAME></Username><Password><GRP_PASSWORD></Password><GroupID>1</GroupID></GetRateMatrix></soap:Body></soap:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/GetRateMatrix"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetRateMatrixResponse
        xmlns=\"http://tempuri.org/\"><GetRateMatrixResult>&lt;DocumentElement&gt;\r\n
        \ &lt;FXRateMatrix&gt;\r\n    &lt;GUID&gt;{8ACBADC4-1901-47F3-90B2-14E245D734E6}&lt;/GUID&gt;\r\n
        \   &lt;FileName&gt;<GRP_CLIENT_CODE>_0001887_20170725173202343&lt;/FileName&gt;\r\n
        \   &lt;TimeCreated&gt;2017-07-25T17:32:00+01:00&lt;/TimeCreated&gt;\r\n    &lt;ClientCode&gt;<GRP_CLIENT_CODE>&lt;/ClientCode&gt;\r\n
        \   &lt;SellCcy&gt;BDT&lt;/SellCcy&gt;\r\n    &lt;BuyCcy&gt;AED&lt;/BuyCcy&gt;\r\n
        \   &lt;CcyPair&gt;AEDBDT&lt;/C[...]
