---
http_interactions:
- request:
    method: get
    uri: https://portal-uat.globalreach-partners.com/TradeService.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://tempuri.org/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://tempuri.org/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://tempuri.org/\">\r\n
        \     <s:element name=\"DoSingleTrade\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ClientLogin\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"UserName\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"Password\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"GroupID\" type=\"s:int\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"objSingleTrade\" type=\"tns:clsTradeMain\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"TradeType\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"singletradeormultipletrade\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"ErrorMsg\" type=\"s:string\" />\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"dtOutput\">\r\n
        \             <s:complexType>\r\n                <s:sequence>\r\n                  <s:any
        minOccurs=\"0\" maxOccurs=\"unbounded\" namespace=\"http://www.w3.org/2001/XMLSchema\"
        processContents=\"lax\" />\r\n                  <s:any minOccurs=\"1\" namespace=\"urn:schemas-microsoft-com:xml-diffgram-v1\"
        processContents=\"lax\" />\r\n                </s:sequence>\r\n              </s:complexType>\r\n
        \           </s:element>\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:complexType name=\"clsTradeMain\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"BenName\" type=\"s:string\"
        />\r\n          <s:eleme[...]
- request:
    method: post
    uri: https://portal-uat.globalreach-partners.com/TradeService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><Get_Currencies
        xmlns="http://tempuri.org/"><ErrorMsg></ErrorMsg><ClientLogin><GRP_CLIENT_CODE></ClientLogin><UserName><GRP_USERNAME></UserName><Password><GRP_PASSWORD></Password><GroupID>1</GroupID></Get_Currencies></soap:Body></soap:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/Get_Currencies"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><Get_CurrenciesResponse
        xmlns="http://tempuri.org/"><Get_CurrenciesResult><xs:schema id="NewDataSet"
        xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="tbl" msdata:UseCurrentLocale="true"><xs:complexType><xs:choice
        minOccurs="0" maxOccurs="unbounded"><xs:element name="tbl"><xs:complexType><xs:sequence><xs:element
        name="CurrencyID" type="xs:int" minOccurs="0" /><xs:element name="CurrencyName"
        type="xs:string" minOccurs="0" /><xs:element name="CurrencyDesc" type="xs:string"
        minOccurs="0" /><xs:element name="BenNationality" type="xs:boolean" minOccurs="0"
        /><xs:element name="BenAddress" type="xs:boolean" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><NewDataSet
        xmlns=""><tbl diffgr:id="tbl1" msdata:rowOrder="0"><CurrencyID>10010</CurrencyID><CurrencyName>AED</CurrencyName><CurrencyDesc>ARAB
        EMIRATE DIRHAM</CurrencyDesc><BenNationality>false</BenNationality><BenAddress>false</BenAddress></tbl><tbl
        diffgr:id="tbl2" msdata:rowOrder="1"><CurrencyID>2</CurrencyID><CurrencyName>AUD</CurrencyName><CurrencyDesc>AUSTRALIAN
        DOLLAR</CurrencyDesc><BenNationality>false</BenNationality><BenAddress>false</BenAddress></tbl><tbl
        diffgr:id="tbl3" msdata:rowOrder="2"><CurrencyID>10066</CurrencyID><CurrencyName>BDT</CurrencyName><CurrencyDesc>BANGLADESHI
        TAKA</CurrencyDesc><BenNationality>true</BenNationality><BenAddress>true</BenAddress></tbl><tbl
        diffgr:id="tbl4" msdata:rowOrder="[...]
